# Vaiable 
Variables are the names that associate with reserved memory locations to store values

In [1]:
x = 5
y = 3

z = x + y 

print(z)

8

Assigning a new value will erase the previous value

In [3]:
z = 3

print(z)

3

## Variable name
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

As a convention, variable names should be lower case and use underscore to connect all words.

In [4]:
radius = 2
pi = 3.14
area_of_circle = pi * radius**2
print(area_of_circle)

12.56

In [1]:
user_input = int(input("How many apples do you have?"))

How many apples do you have?3

In [14]:
user_input = int(input('How many apples do you have?\n >>> '))

How many apples do you have?
 >>> 3

In [17]:
print(user_input)

3

No space when naming a variable

In [4]:
blood type = 'AB'

SyntaxError: invalid syntax (4155091414.py, line 1)

Avoid using the keywords in Python to name a variable. 
The keywords are reserved for specific purpose in Python

In [20]:
while = 5

SyntaxError: invalid syntax (<ipython-input-20-b6d97d37decf>, line 1)

## Reserved KeyWords 
Keywords are the reserved words in Python. It cannot be used as a variable name, function name or any other identifier.

Reserved keywords include: 
- and, as, assert, break, class, continue, def, del, elif, else, except, exec, False, finally, for, from, global, if, import, in, is, lambda, None, nonlocal, not, or, pass, print, raise, return, True, try, while, with, yield

In [24]:
as = 4

SyntaxError: invalid syntax (<ipython-input-24-4e6071edb22f>, line 1)

In [6]:
import keyword

In [7]:
keyword.iskeyword('None')

True

In [8]:
keyword.iskeyword('none')

False

# Data Type

## Integer

In [10]:
a = 4

In [11]:
print(a)

4

In [12]:
type(a)

int

In [8]:
type(5)

int

## Float

In [13]:
b = 5.6

In [14]:
print(b)

5.6

In [15]:
type(b)

float

In [16]:
# mathemarical operations between integer and floats always give float
print(5/2.5)
print(type(5/2.5))

2.0
<class 'float'>

## String

In [11]:
song = "ABC is a song"
print(song)
type(song)

ABC is a song

str

In [35]:
x = 'M'

In [36]:
x

'M'

In [37]:
type(x)

str

In [38]:
y="ABC"

In [39]:
type(y)

str

In [2]:
# You can contatenate strings using +
phrase_1 = 'The cat sat on the mat!'
phrase_2 = 'And so did the dog! '
phrase_3 = phrase_1 + ' ' + phrase_2
print(phrase_3)

The cat sat on the mat! And so did the dog!

In [3]:
print(phrase_3 * 3)

The cat sat on the mat! And so did the dog! The cat sat on the mat! And so did the dog! The cat sat on the mat! And so did the dog!

Count the chracters in a string variable using the built-in function len()

In [4]:
len(phrase_3)

44

## Boolean

In [17]:
x = True

In [15]:
bool(x)

True

In [18]:
y = False

In [19]:
bool(y)

False

In [20]:
bool(0)

False

In [21]:
bool(3)

True

In [52]:
bool(None)

False

In [53]:
bool('A')

True

In [23]:
True and False

False

In [6]:
a = True
type(a) == bool

True

## Complex

In [8]:
x = 4 + 5j
x

(4+5j)

In [56]:
type(x)

complex

# Specify a variable type

You can specify a type on to a variable by casting. 

Casting in python is therefore done using constructor functions:

```int()``` - constructs an integer number from an integer, a float (by removing all decimals), or a string (providing the string represents a whole number)

```float()``` - constructs a float number from an integer, a float or a string (providing the string represents a float or an integer)

```str()``` - constructs a string from a wide variety of data types, including strings, integer and float

In [25]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x, y, z)

1 2 3

In [9]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")  # z will be 3.0
w = float("4.2") # w will be 4.2

print(x, y, z, w)

1.0 2.8 3.0 4.2

In [11]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [60]:
x

's1'

In [13]:
y

'2'

In [12]:
z

'3.0'

## Conversions

In [62]:
x = 6

In [63]:
type(x)

int

In [64]:
float(x)

6.0

In [46]:
str(x)

'6'

In [47]:
int(7/3.5)

2

In [48]:
int(3.7)

3

# Assignment operations

In [19]:
x = 5
print(x)

5

In [35]:
x += 3 # x = x + 3 
print(x)

8

In [39]:
x = 8
x -= 3 # x = x - 3 
print(x)

5

In [52]:
x *= 3 # x = x * 3

In [53]:
x /= 3 # x = x / 3

In [21]:
x %= 3 # x = x % 3 
x

2

In [24]:
x=5

In [25]:
x //= 3 # x = x // 3 
x

1

In [27]:
x **= 3 # x = x ** 3 
x

1

# Python Comparison Operators
Comparison Operators always return boolean values

In [28]:
x = 5
y = 2

In [32]:
x == y # Equal

True

In [30]:
x = 2
y = 2

In [31]:
x != y # Not equal

False

In [46]:
x > y # Greater than

False

In [47]:
x < y # Less than

False

In [48]:
x >= y # Greater than or equal to

True

In [49]:
x <= y # Less than or equal to

True

# Logical Operators
Along with comparison operators, you can use logical operators: `and` or `not`

In [20]:
x < 5 and  x < 10

True

In [21]:
x = 10
x < 5 or x < 4

False

In [22]:
not(x < 5 or x < 4)

True

# Python Membership Operators

* `in`:  Returns True if a sequence with the specified value is present in the object
* `not in`: Returns True if a sequence with the specified value is not present in the object

In [33]:
x = 3
y = [1, 2, 3]
x in y

True

In [24]:
x = 5
y = [1, 2, 3]
x not in y

True