# Important types used to store collections of data
- List `a=[1,2,3,4]`
- Tuple `a=(1,2,3,4)`; `a=1,2,3,4`
- Set `a={1,2,3,4}`
- Dictionary `a={1:2, 2:3}`

## Python Collection Type #1: List
* An ordered sequence which is composed by items, and each item has it's index to indicate its position. 
* [element_1, element 2, element_3], where element_1 has the index 0, element 2 has the index 1, and element_3 has the index 2

In [1]:
a = [1,2,3,4]

In [2]:
type(a)

list

In [3]:
a[0] # you can access each element by the index

1

In [4]:
a[len(a)-1] # the last element

4

In [5]:
names = ['John', 'Jane', 'Joe']
names[2]

'Joe'

In [6]:
names[3]

IndexError: list index out of range

**A list can have different types of elements**

In [7]:
random_variable = [True, False, 'Hello', 1, 1.8]
length = len(random_variable)

print(length)
print(random_variable[length-1])
print(random_variable[-1])
print(random_variable[-3])

5
1.8
1.8
Hello

### Slicing

`slicing_list[start_index: stop_index]` 

Note: the **start_index element is included** while the **stop_index element is excluded**.

In [8]:
ordered_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(ordered_numbers[2:9])
# print(ordered_numbers[:9]) # ordered_numbers[0:10]
# print(ordered_numbers[3:]) # ordered_numbers[3:len(ordered_numbers)]

[2, 3, 4, 5, 6, 7, 8]

You can easily produce a list of number by calling the function: ```range(start, end, step_size)```

In [9]:
# print(list(range(0, 100))) 
print(list(range(0, 100, 3))) # step size 3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

A string can also be sliced:

In [10]:
show_title = 'game of thrones'
print(show_title[3:])

e of thrones

### Membership Operators
* in 
* not in

In [11]:
months = ['January', 'February', 'March']
print('January' not in months)

False

In [12]:
print('January' in months)

True

### Mutability

* mutalble: liable to change 
* immutable: not liable to change

For example, a list is mutable but a string is immutable

In [13]:
grocery = ['bananas', 'apples', 'cauliflower']
grocery[2] = 'cabbage'
print(grocery)

['bananas', 'apples', 'cabbage']

In [14]:
misspelled_vegetable = 'cucomber'
misspelled_vegetable[3] = 'u'
# string cannot be changed if you want to change a string you have to creat a new string

TypeError: 'str' object does not support item assignment

### Mutable? What is the matter? 

The mutability **affects how the Python deal with the variable and the memory**. 

If I assign a variable a string, the variable holds for the string. When you want to change a string, you create a new string.

In the following example, at first, `name` and `other_name` refer to the same string. But later, when assign the `name` a new string, since the string is immutable, the `other_name` still keep refering to the previous string "Alice", while the `name` is changed to refer to the new string "Jane".

In [15]:
name = 'Alice'
other_name = name
name = 'Jane'
print(other_name)

Alice

If I assign a variable `names` a list, when I assign another variable `other_names` the same list, then both variables refer to the same memory of the list. 

Since the list is mutable, when we change the `names`, the `other_names` has the same change. 
In this case, one variable serves as the alias of the other, modify the `names` results in the same change in `other_namses`.

In [16]:
names = ['Alice', 'Peter', 'Jane']
other_names = names
names[0] = 'Amir'
print(other_names)

['Amir', 'Peter', 'Jane']

### Built-in Function and Built-in Method for List

#### Built-in Function

In [17]:
numbers = [4, 3, 7, 4]
len(numbers)

4

In [18]:
max(numbers)

7

In [19]:
names = ['Alice', 'Peter', 'Jane', 'Zack']
max(names) # returns the highest alphabetical character in a string

'Zack'

In [20]:
names = ['Alice', 'Peter', 'Jane', 'Zack', 1]
max(names) # not comparable

TypeError: '>' not supported between instances of 'int' and 'str'

In [21]:
names = ['Alice', 'Peter', 'Jane', 'Zack']
min(names)

'Alice'

In [22]:
min(numbers)

3

In [23]:
sorted(numbers) # from lowest number to the highest

[3, 4, 4, 7]

In [24]:
sorted(names) # sort in alphaberical order

['Alice', 'Jane', 'Peter', 'Zack']

#### Built-in method

In [25]:
months = ['January', 'February', 'March']
'-'.join(months)

'January-February-March'

In [26]:
' '.join(months)

'January February March'

In [27]:
months.append('April')
months

['January', 'February', 'March', 'April']

* Other common methods for list include `remove()`, `extend()`, `insert()`, `reverse()`. For more information, check out the documentation https://docs.python.org/3/tutorial/datastructures.html

## Python Collection Type #2: Tuple
* An immutable, ordered sequence 
* (item_1, item_2, item_3)

In [28]:
a = (1,2,3,4)

In [29]:
type(a)

tuple

In [30]:
a[1:]

(2, 3, 4)

In [31]:
a[2]

3

In [32]:
a[2] = 4

TypeError: 'tuple' object does not support item assignment

In [33]:
a = 1,2,3,4 # The parentheses can be omited

In [34]:
type(a)

tuple

In [35]:
a=(1)
type(a)

int

In [36]:
a=(1,)
type(a)

tuple

In [37]:
a=1,
type(a)

tuple

In [38]:
traits = ('tall', 'slim', 'blond')
height, build, hair = traits # tuple unpacking
print(height, build)

tall slim

In [39]:
height, build, hair = 'tall', 'slim', 'blond'
print(height, build)

tall slim

## Python Collection Type #3: Set
* Mutable, unordered, elements are not duplicated (unique items)
* {item_1, item_2, item_3}

In [40]:
a = {1,2,3,4,4,4,4,3}

In [41]:
print(a)

{1, 2, 3, 4}

In [42]:
type(a)

set

In [43]:
duplicated_numbers = [1,2,3,4,4,4,4,3]
unique_numbers = set(duplicated_numbers)
print(unique_numbers)

{1, 2, 3, 4}

In [44]:
unique_numbers.add(5)
unique_numbers

{1, 2, 3, 4, 5}

* Set is unordered, you cannot use the index to access the element:

In [45]:
unique_numbers[2]

TypeError: 'set' object is not subscriptable

In [46]:
print(2 in unique_numbers)

True

## Python Collection Type #4: Dictionary
* {key:value, key:value, key:value}, where keys must be unique, values can be duplicated
* Dictionary items are unordered
* Items are indexed by their keys

In [47]:
# Example 1
grocery ={'bananas':1.79, 'apples':3.49, 'pears': 2.39}

In [48]:
type(grocery)

dict

In [49]:
grocery['bananas'] # Dictionary is indexed by the key

1.79

In [50]:
grocery['bananas'] = 2.09 
# print(grocery['bananas'])
print(grocery)

{'bananas': 2.09, 'apples': 3.49, 'pears': 2.39}

In [51]:
bananas_price = grocery.get('bananas')
print(bananas_price)

2.09

In [52]:
strawberry_price = grocery.get('strawberry')
print(strawberry_price)

None

In [53]:
print('pears' in grocery)

True

In [54]:
print(2.39 in grocery)

False

In [55]:
print('strawberry' in grocery)

False

In [56]:
# Example 2
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
phonebook

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [57]:
len(phonebook)

3

In [58]:
list(phonebook.keys())[2]

'Jill'

In [59]:
list(phonebook.values())

[938477566, 938377264, 947662781]

In [60]:
phonebook.items()

dict_items([('John', 938477566), ('Jack', 938377264), ('Jill', 947662781)])

In [61]:
print(phonebook.get('Jill'))

947662781

In [62]:
del phonebook['Jill']
print(phonebook)

{'John': 938477566, 'Jack': 938377264}

In [63]:
phonebook.clear()
print(phonebook)

{}

* Dictionary keys must be immutable. So we can use string, numbers, tuple as dict key.
* If using the tuple as the dictionary key, it can only contain immutable items.
* We can’t use a List as a Dictionary key because they can be modified.
* The dictionary keys and values can be of any primitive types, such as numbers, strings, and booleans. They can also be None.

In [64]:
# Example 3:
dict = {'Name': 'Rama', 'Age': 7, 'Class': 'First'} # Values can have different types

In [65]:
# Example 4:
fruits_dict = {"1": "Apple", "2": "Banana", 3: "Orange", None: "NA"}

### Compound data structure

In [66]:
# Example: keys with values which are also dictionaries 
grocery_items = {'bananas':{'price': 1.79, 'country of origin': 'India'},
                 'apples':{'price': 3.49, 'country of origin': 'Canada'},
                 'pear': {'price': 2.39, 'country of origin': 'United States'}
                }

In [67]:
grocery_items['bananas']

{'price': 1.79, 'country of origin': 'India'}

In [68]:
grocery_items['bananas']['country of origin']

'India'

In [69]:
grocery_items = {'items':['banana', 'apple', 'pear', 'orange'],
                 'price':[1.79, 3.49, 2.39, 2.69]
                }

In [70]:
grocery_items['items']

['banana', 'apple', 'pear', 'orange']

In [71]:
grocery_items['price']

[1.79, 3.49, 2.39, 2.69]